
html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
@import "partials/config";
@import "partials/animations";
@import "partials/header_footer";
@import "partials/section";

@import "partials/all";
@import "partials/menu_top_left";
@import "partials/menu_top_right";
@import "partials/menu_bottom_left";

