html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

@keyframes zoom_opacity {
  from {
    transform: scale(1);
    opacity: 1; }
  to {
    transform: scale(1.5);
    opacity: 0.45; } }
@keyframes wiggle {
  0% {
    transform: rotate(1deg); }
  10% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(-1.5deg); }
  30% {
    transform: rotate(0deg); }
  40% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(0deg); }
  60% {
    transform: rotate(4deg); }
  70% {
    transform: rotate(0deg); }
  80% {
    transform: rotate(-6deg); }
  90% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(0deg); } }
@keyframes dot {
  0% {
    opacity: 0; }
  50% {
    transform: translateY(10px);
    opacity: 0; }
  100% {
    transform: translateY(20px);
    opacity: 1; } }
.anim_menu_zoom {
  display: flex;
  flex-direction: column-reverse; }
  .anim_menu_zoom:hover {
    filter: blur(4px);
    animation-name: zoom_opacity;
    animation-duration: 2500ms;
    transform: scale(1.5);
    opacity: 0.6; }

.effect_wiggle {
  transform-origin: center;
  animation-name: wiggle;
  animation-duration: 400ms;
  animation-iteration-count: infinite; }

.underline--1 {
  opacity: 0;
  left: -5px;
  width: auto;
  height: 7px;
  margin: -1.5% -6% 0;
  border-radius: 10px 2px;
  background-color: #3C1218;
  transform-origin: 0% 50%;
  transition: ease-in-out 2.3s;
  transform: scaleX(0); }

.underline--2_1 {
  opacity: 0;
  left: -5px;
  width: auto;
  height: 7px;
  margin: -1.5% -6% 0;
  border-radius: 10px 2px;
  background-color: #C67412;
  transform-origin: 0% 50%;
  transition: ease-in-out 2.3s;
  transform: scaleX(0); }

.underline--2_2 {
  opacity: 0;
  left: -5px;
  width: auto;
  height: 7px;
  margin: -1.5% -6% 0;
  border-radius: 10px 2px;
  background-color: #A56799;
  transform-origin: 0% 50%;
  transition: ease-in-out 2.3s;
  transform: scaleX(0); }

.underline--2_3 {
  opacity: 0;
  left: -5px;
  width: auto;
  height: 7px;
  margin: -1.5% -6% 0;
  border-radius: 10px 2px;
  background-color: #6E4CCC;
  transform-origin: 0% 50%;
  transition: ease-in-out 2.3s;
  transform: scaleX(0); }

.underline--3_1 {
  opacity: 0;
  left: -5px;
  width: auto;
  height: 7px;
  margin: -1.5% -6% 0;
  border-radius: 10px 2px;
  background-color: #0228DD;
  transform-origin: 0% 50%;
  transition: ease-in-out 2.3s;
  transform: scaleX(0); }

.underline--3_2 {
  opacity: 0;
  left: -5px;
  width: auto;
  height: 7px;
  margin: -1.5% -6% 0;
  border-radius: 10px 2px;
  background-color: #0670F3;
  transform-origin: 0% 50%;
  transition: ease-in-out 2.3s;
  transform: scaleX(0); }

.underline--3_3 {
  opacity: 0;
  left: -5px;
  width: auto;
  height: 7px;
  margin: -1.5% -6% 0;
  border-radius: 10px 2px;
  background-color: #88C6F5;
  transform-origin: 0% 50%;
  transition: ease-in-out 2.3s;
  transform: scaleX(0); }

.underline--4 {
  opacity: 0;
  left: -5px;
  width: auto;
  height: 7px;
  margin: -1.5% -6% 0;
  border-radius: 10px 2px;
  background-color: #3D923A;
  transform-origin: 0% 50%;
  transition: ease-in-out 2.3s;
  transform: scaleX(0); }

.title_all {
  font-size: 5em;
  margin: 0; }
  .title_all:hover + .underline {
    opacity: 1;
    transition: ease-out 1.3s;
    transform: scaleX(1); }

/*----header-----*/
header {
  width: 100%;
  margin: 0;
  color: #FCCA46;
  background-color: #579C87;
  font-weight: bold;
  text-align: center; }

.hidden {
  text-decoration: none; }

h1 {
  margin: 0; }

/*---- footer ----*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  background-color: #579C87; }

footer a {
  color: #FCCA46;
  text-decoration: none;
  font-weight: bold; }

.contactez-nous {
  display: flex;
  justify-content: flex-end; }

@media all and (min-width: 1200px) {
  header {
    padding: 1.3% 0;
    font-size: 4em; }

  footer a {
    width: fit-content;
    font-size: 3.5em;
    padding: 1.7% 2.5%; } }
@media screen and (min-width: 600px) and (max-width: 1200px) {
  header {
    padding: 2.1% 0;
    font-size: 3.5em; }

  footer a {
    font-size: 3em;
    padding: 1% 2%; } }
@media all and (max-width: 600px) {
  header {
    padding: 2.8% 0;
    font-size: 3em; }

  footer a {
    font-size: 2.5em;
    padding: 1.2% 2%; } }
.title_menu {
  text-transform: capitalize;
  margin: 0;
  font-family: sans-serif; }

.title_menu_all_capitalize {
  text-transform: uppercase; }

.container_menu {
  display: flex;
  margin: 6% 0;
  width: 100%; }
  @media all and (max-width: 600px) {
    .container_menu {
      margin: 8% 0; } }

.menu {
  font-family: 'Devonshire', cursive;
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0 2px 8.5px 1px rgba(0, 0, 0, 0.175);
  text-decoration: none;
  text-align: center;
  padding: 17% 0;
  width: 50%; }
  .menu--back {
    background: #579C87; }
  .menu--first {
    background: #FCDFDB; }
  .menu--second {
    background: #FFF5FE; }
  .menu--third {
    background: #F9F9F9; }
  .menu--fourth {
    background: #FDFFFD; }
  .menu--txt {
    color: #FCCA46; }
  .menu--first {
    color: #3C1218; }
  .menu--second_1 {
    color: #C67412; }
  .menu--second_2 {
    color: #A56799; }
  .menu--second_3 {
    color: #6E4CCC; }
  .menu--third_1 {
    color: #0228DD; }
  .menu--third_2 {
    color: #0670F3; }
  .menu--third_3 {
    color: #88C6F5; }
  .menu--fourth_1 {
    color: #3D923A; }
  .menu--fourth_2 {
    color: #0670F3; }
  @media all and (max-width: 600px) {
    .menu {
      font-size: 3em; } }
  @media screen and (min-width: 600px) and (max-width: 768px) {
    .menu {
      font-size: 1.8em; } }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .menu {
      width: 45%;
      padding: 14% 0;
      font-size: 1.8em; } }
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    .menu {
      width: 45%;
      padding: 14% 0;
      font-size: 2em; } }
  @media all and (min-width: 1200px) {
    .menu {
      width: 39%;
      font-size: 2.5em; } }

.img_menu {
  width: 12%;
  margin: 0 44%; }

.p_menu {
  margin: 24px 0 30px; }

.title_menu_top_left, .title_menu_bottom_left {
  font-family: 'Ubuntu', sans-serif; }

.menu--first {
  font-family: 'Devonshire', cursive; }

.menu--second {
  font-family: 'Croissant One', cursive; }

.menu--first, .menu--third {
  margin: 0 6% 0 8%; }

.menu--second, .menu--fourth {
  margin: 0 8% 0 0; }

.menu--third, .menu--fourth {
  padding: 17.75% 0; }

.title_menu_top_right {
  font-family: 'Croissant One', cursive;
  color: #C67412; }

.p_top_right {
  background: linear-gradient(0.25turn, #C67412, #A56799);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.menu--third {
  font-family: Arial, Helvetica, sans-serif; }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .menu--third {
      padding: 16.492% 0; } }

.title_menu_bottom_left, .p_bottom_left {
  background: linear-gradient(0.25turn, #0228DD, #0670F3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.p_bottom_left {
  font-family: 'Dancing Script', cursive; }

.menu--fourth {
  font-family: Arial, Helvetica, sans-serif; }

.title_menu_bottom_right, .p_bottom_right {
  font-family: 'Kaushan Script', cursive;
  background: linear-gradient(0.25turn, #3D923A, #BEFF7F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.container {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  background-color: #579C87;
  color: #FCCA46;
  transform-origin: top;
  border-radius: 15px;
  text-align: center;
  font-size: 1.8em;
  width: auto; }
  @media screen and (min-width: 600px) and (max-width: 992px) {
    .container {
      margin: 13% 24.5% 21%;
      font-size: 2em; } }
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    .container {
      margin: 11% 30.5% 21%; } }
  @media all and (min-width: 1200px) {
    .container {
      font-size: 3.5em;
      margin: 11% 28.5% 21%; } }

.container h3 {
  margin: 3% 2%; }

.one, .two, .three {
  width: 10px;
  height: 10px;
  border: #FCCA46 1px solid;
  border-radius: 50%;
  background-color: #FCCA46;
  margin: 6% 0 0 3%;
  opacity: 0;
  animation: dot 1.5s infinite; }
  @media screen and (min-width: 600px) and (max-width: 992px) {
    .one, .two, .three {
      margin: 3% 0 0 3%; } }
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    .one, .two, .three {
      width: 8px;
      height: 8px;
      margin: 2.5% 0 0 3%; } }
  @media all and (min-width: 1200px) {
    .one, .two, .three {
      margin-top: 5%;
      width: 15px;
      height: 15px; } }

.one {
  animation-delay: 0.0s; }

.two {
  animation-delay: 0.2s; }

.three {
  animation-delay: 0.3s; }

main {
  margin: 0 8.75% 17%;
  width: 83%;
  box-shadow: 0 2px 8.5px 1px rgba(0, 0, 0, 0.175);
  padding: 0 0 10%; }

.main--back {
  background: #579C87; }
.main--first {
  background: #FCDFDB; }
.main--second {
  background: #FFF5FE; }
.main--third {
  background: #F9F9F9; }
.main--fourth {
  background: #FDFFFD; }

article {
  margin: 1% 10% 7%; }

.header--top, .header--middle, .header--bottom, .menu_choice {
  display: flex;
  justify-content: space-between; }

.header--top, .header--middle, .header--bottom {
  align-items: center;
  margin: 0 0 4%; }

.title_first {
  margin: 5.35% 0 2.2%;
  font-size: 6em; }

.barre {
  width: 36%;
  height: .5%;
  margin: 0 -8%; }

.menu_choice {
  margin: 0; }

.menu_price {
  font-weight: bold; }

.menu_choice_plate, .menu_price {
  margin: 15px 0; }

.menu_choice_plate, .menu_price {
  font-size: 2.5em; }

@media screen and (min-width: 1150px) and (max-width: 1520px) {
  .title_all {
    font-size: 2em; }

  .barre {
    width: 30%; } }
@media screen and (min-width: 800px) and (max-width: 1150px) {
  .title_all {
    font-size: 1.5em; }

  .barre {
    width: 25%; } }
.main_top-L {
  box-shadow: 0 2px 8.5px 1px rgba(0, 0, 0, 0.175);
  font-family: 'Devonshire', cursive; }

.link_first {
  color: #3C1218; }

.title_first {
  text-align: center; }

.title_first_bottom {
  margin: 0; }

.aside_menu_top_left {
  display: flex;
  flex-direction: column; }

.container_bottom_first_menu {
  display: flex;
  justify-content: center; }

@media all and (min-width: 1200px) {
  .img_barre_menu_top_left {
    width: 35%;
    height: 10%;
    margin: 2% 0; }

  .title_first_inside {
    margin: .9% 0 6%;
    font-size: 6em; }

  .title_first_bottom {
    margin: 0% 1% 8.2%;
    font-size: 5em; }

  .img_note_musique_inside_menu {
    width: 7.5%;
    height: auto;
    margin: 6% 46.5% 0; }

  .title_menu_choice {
    margin: 0;
    font-size: 1.5em; }

  .container_menu_choice {
    margin: 4% 0 9.5%; }

  .img_note_musique_inside_menu_bottom {
    margin: 0 0.7% 2.5% 0;
    width: 5%;
    height: 5%; } }
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .img_barre_menu_top_left {
    width: 30%;
    height: 10%;
    margin: 2% 0; }

  .title_first_inside {
    margin: .9% 0 6%;
    font-size: 1.99em; }

  .title_first_bottom {
    margin: -1.2% 0 8.2%;
    font-size: 3em; }

  .img_note_musique_inside_menu {
    width: 7.5%;
    height: auto;
    margin: 6% 46.5% 0; }

  .title_menu_choice {
    margin: 0;
    font-size: 1.5em; }

  .container_menu_choice {
    margin: 4% 0 9.5%; }

  .img_note_musique_inside_menu_bottom {
    margin: 0 0.7% 2.5% 0;
    width: 5%;
    height: 5%; } }
@media screen and (min-width: 768px) and (max-width: 992px) {
  .img_barre_menu_top_left {
    width: 30%;
    height: 10%;
    margin: 2% 0; }

  .title_first_inside {
    margin: .9% 0 6%;
    font-size: 1.99em; }

  .title_first_bottom {
    margin: -1% 0 8.2%;
    font-size: 2.5em; }

  .img_note_musique_inside_menu {
    width: 7.5%;
    height: auto;
    margin: 6% 46.5% 0; }

  .title_menu_choice {
    margin: 0;
    font-size: 1.5em; }

  .container_menu_choice {
    margin: 4% 0 9.5%; }

  .img_note_musique_inside_menu_bottom {
    margin: 0 0.7% 2.5% 0;
    width: 5%;
    height: 5%; } }
@media all and (max-width: 600px) {
  .img_barre_menu_top_left {
    width: 30%;
    height: 10%;
    margin: 2% 0; }

  .title_first {
    margin: 5.35% 0 2.2%;
    font-size: 2.15em; }

  .title_first_inside {
    margin: .9% 0 6%;
    font-size: 1.99em; }

  .title_first_bottom {
    margin: 0.38% 0 8.2%;
    font-size: 2em; }

  .img_note_musique_inside_menu {
    width: 7.5%;
    height: auto;
    margin: 6% 46.5% 0; }

  .title_menu_choice {
    margin: 0;
    font-size: 1.5em; }

  .container_menu_choice {
    margin: 4% 0 9.5%; }

  .menu_choice_plate {
    width: 70%; }

  .img_note_musique_inside_menu_bottom {
    margin: 0 0.7% 2.5% 0;
    width: 5%;
    height: 5%; } }
.main_top-R {
  padding: 0 0 10%; }

main .title_second--inside {
  font-size: 6em;
  text-align: center;
  padding: 14% 0 0;
  margin: 0 0 10%;
  font-family: 'Croissant One', sans-serif;
  background: linear-gradient(0.25turn, #C67412, #A56799);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.title_second_M--top, .second_menu-top {
  color: #C67412; }

.title_second_M--middle, .second_menu-middle {
  color: #A56799; }

.title_second_M--bottom, .c_m_c_second_menu {
  color: #6E4CCC; }

.title_second_M {
  font-size: 3rem; }

.main_bottom-L {
  font-family: 'Dancing Script', sans-serif; }

.third_menu--top, .third_menu--middle, .third_menu--bottom {
  color: #272727; }

.title_third_M {
  font-size: 4em; }

.title_third_inside {
  text-align: center;
  font-size: 5em;
  padding: 14% 0 5%;
  background: linear-gradient(0.25turn, #0228DD, #88C6F5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.main_bottom-R {
  padding: 0 0 10%;
  font-family: 'Kaushan Script', cursive; }

.fourth_menu--middle, .fourth_menu--top, .fourth_menu--bottom {
  color: black; }

.title_fourth_inside {
  font-size: 6em;
  text-align: center;
  padding: 9% 0 0;
  margin: 0 0 9%;
  font-style: italic;
  background: linear-gradient(0.25turn, #3D923A, #BEFF7F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.title_fourth_M {
  font-size: 3.5em; }

.mentions {
  width: 80%;
  margin: 5% 10% 20%;
  font-size: 2em; }
  .mentions__titles {
    font-size: 1.5em;
    text-align: center; }
  .mentions__articles {
    display: block;
    margin: 0; }

/*# sourceMappingURL=style.css.map */
