html, body {
  width: 100%;
  margin: 0;
  padding: 0; }

@keyframes zoom_opacity {
  from {
    transform: scale(1);
    opacity: 1; }
  to {
    transform: scale(1.5);
    opacity: 0.45; } }
@keyframes wiggle {
  0% {
    transform: rotate(1deg); }
  10% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(-1.5deg); }
  30% {
    transform: rotate(0deg); }
  40% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(0deg); }
  60% {
    transform: rotate(4deg); }
  70% {
    transform: rotate(0deg); }
  80% {
    transform: rotate(-6deg); }
  90% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(0deg); } }
@keyframes dot {
  0% {
    opacity: 0; }
  50% {
    transform: translateY(10px);
    opacity: 0; }
  100% {
    transform: translateY(20px);
    opacity: 1; } }
.anim_menu_zoom {
  display: flex;
  flex-direction: column-reverse; }
  .anim_menu_zoom:hover {
    filter: blur(4px);
    animation-name: zoom_opacity;
    animation-duration: 2500ms;
    transform: scale(1.5);
    opacity: 0.6; }

.effect_wiggle {
  transform-origin: center; }
  .effect_wiggle:hover {
    animation-name: wiggle;
    animation-duration: 400ms;
    animation-iteration-count: infinite; }

.underline--1 {
  opacity: 0;
  left: -5px;
  width: auto;
  height: 7px;
  margin: -1.5% -6% 0;
  border-radius: 10px 2px;
  background-color: #3C1218;
  transform-origin: 0% 50%;
  transition: ease-in-out 2.3s;
  transform: scaleX(0); }

.underline--2_1 {
  opacity: 0;
  left: -5px;
  width: auto;
  height: 7px;
  margin: -1.5% -6% 0;
  border-radius: 10px 2px;
  background-color: #C67412;
  transform-origin: 0% 50%;
  transition: ease-in-out 2.3s;
  transform: scaleX(0); }

.underline--2_2 {
  opacity: 0;
  left: -5px;
  width: auto;
  height: 7px;
  margin: -1.5% -6% 0;
  border-radius: 10px 2px;
  background-color: #A56799;
  transform-origin: 0% 50%;
  transition: ease-in-out 2.3s;
  transform: scaleX(0); }

.underline--2_3 {
  opacity: 0;
  left: -5px;
  width: auto;
  height: 7px;
  margin: -1.5% -6% 0;
  border-radius: 10px 2px;
  background-color: #6E4CCC;
  transform-origin: 0% 50%;
  transition: ease-in-out 2.3s;
  transform: scaleX(0); }

.underline--3_1 {
  opacity: 0;
  left: -5px;
  width: auto;
  height: 7px;
  margin: -1.5% -6% 0;
  border-radius: 10px 2px;
  background-color: #0228DD;
  transform-origin: 0% 50%;
  transition: ease-in-out 2.3s;
  transform: scaleX(0); }

.underline--3_2 {
  opacity: 0;
  left: -5px;
  width: auto;
  height: 7px;
  margin: -1.5% -6% 0;
  border-radius: 10px 2px;
  background-color: #0670F3;
  transform-origin: 0% 50%;
  transition: ease-in-out 2.3s;
  transform: scaleX(0); }

.underline--3_3 {
  opacity: 0;
  left: -5px;
  width: auto;
  height: 7px;
  margin: -1.5% -6% 0;
  border-radius: 10px 2px;
  background-color: #88C6F5;
  transform-origin: 0% 50%;
  transition: ease-in-out 2.3s;
  transform: scaleX(0); }

.underline--4 {
  opacity: 0;
  left: -5px;
  width: auto;
  height: 7px;
  margin: -1.5% -6% 0;
  border-radius: 10px 2px;
  background-color: #3D923A;
  transform-origin: 0% 50%;
  transition: ease-in-out 2.3s;
  transform: scaleX(0); }

.title_all {
  margin: 0; }
  .title_all:hover + .underline {
    opacity: 1;
    transition: ease-out 1.3s;
    transform: scaleX(1); }

html {
  font-size: 100%; }

.main_top-L, .menu--first {
  font-family: 'Devonshire', cursive; }

.title_first {
  text-align: center;
  font-size: 6rem; }

.title_all {
  font-size: 2.5rem; }

.title_third_M, .title_fourth_M, .second_item__price, .fourth_item__price {
  font-weight: normal; }

.container_menu {
  font-size: 2.5rem; }

.container {
  font-size: 2rem; }

.title_menu_top_left, .title_menu_bottom_left {
  font-family: 'Ubuntu', sans-serif; }

.title_second--inside {
  font-size: 2.5rem; }

.menu--second, .title_second--inside {
  font-family: 'Croissant One', cursive; }

.container_underline > .title_second_M {
  font-size: 2rem; }

.title_menu_top_right {
  font-family: 'Croissant One', cursive;
  color: #C67412; }

.p_top_right {
  background: linear-gradient(90deg, #C67412 20%, #A56799 47%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.title_third_inside {
  font-size: 5rem; }

.menu--third {
  font-family: Arial, Helvetica, sans-serif; }

.title_menu_bottom_left, .p_bottom_left {
  background: linear-gradient(90deg, #0228DD 10%, #0670F3 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.p_bottom_left {
  font-family: 'Dancing Script', cursive; }

.title_fourth_inside {
  font-size: 6rem; }

.container_underline > .title_fourth_M {
  font-size: 2rem; }

.menu--fourth {
  font-family: Arial, Helvetica, sans-serif; }

.title_menu_bottom_right, .p_bottom_right {
  font-family: 'Kaushan Script', cursive;
  background: linear-gradient(0.25turn, #3D923A, #BEFF7F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.title_first_bottom {
  font-size: 3.5rem; }

.item__title, .item__price {
  font-size: 1.3rem; }

.first__item_title, .first__item_proce {
  font-size: 1.5rem; }

footer a {
  font-size: 2rem; }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 67.5%; } }
@media screen and (min-width: 600px) and (max-width: 767px) {
  html {
    font-size: 62.5%; } }
@media all and (max-width: 599px) {
  html {
    font-size: 62%; } }
/*----header-----*/
header {
  margin: 0;
  width: 100%;
  background-color: #579C87;
  padding: .8rem 0;
  font-weight: bold;
  text-align: center; }

.logo {
  width: 45%;
  align-items: center; }

.hidden {
  text-decoration: none; }

h1 {
  margin: 0; }

/*---- footer ----*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  background-color: #579C87; }

footer a {
  color: #FCCA46;
  text-decoration: none;
  font-weight: bold; }

.contactez-nous {
  display: flex;
  justify-content: flex-end; }

@media all and (min-width: 1921px) {
  .logo {
    width: 30%; }

  footer a {
    width: fit-content;
    padding: 1.2rem; } }
@media screen and (min-width: 601px) and (max-width: 1920px) {
  .logo {
    width: 40%; }

  footer a {
    padding: 1rem; } }
@media all and (max-width: 600px) {
  header {
    padding: .8rem 0; }

  .logo {
    width: 76%; }

  footer a {
    padding: 1.2rem .2rem; } }
main {
  margin: 0 8.75% 17%;
  box-shadow: 0 2px 8.5px 1px rgba(0, 0, 0, 0.175);
  padding: 0 0 10%; }

.main--back {
  background: #579C87; }
.main--first {
  background: #FCDFDB; }
.main--second {
  background: #FFF5FE; }
.main--third {
  background: #F9F9F9; }
.main--fourth {
  background: #FDFFFD; }

section {
  margin: 0 3.8rem 4rem; }

li {
  list-style-type: none; }

.header--top, .header--middle, .header--bottom {
  display: flex;
  justify-content: space-between; }

.header--top, .header--middle, .header--bottom {
  align-items: center;
  margin: 0 0 4%; }

.title_first {
  margin: 5.35% 0 2.2%; }

.barre {
  width: 36%;
  height: .5%; }

.menu_section {
  margin: 0;
  padding: 0; }

.menu__item {
  display: grid;
  grid-template-columns: 12fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  margin: 1rem 4rem; }

.first__item_menu {
  margin: 1rem 0; }

.item__price {
  font-weight: bold;
  text-align: center;
  align-items: center;
  margin: 5px 0 0; }

@media screen and (min-width: 768px) and (max-width: 1920px) {
  .barre {
    width: 30%; } }
@media screen and (min-width: 300px) and (max-width: 768px) {
  .barre {
    width: 25%; } }
.title_menu {
  text-transform: capitalize;
  margin: 0;
  font-family: sans-serif; }

.title_menu_all_capitalize {
  text-transform: uppercase; }

.container_menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2.5rem;
  justify-content: space-between;
  margin: 10% 13%; }

.menu {
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0 2px 8.5px 1px rgba(0, 0, 0, 0.175);
  text-decoration: none;
  text-align: center;
  padding: 32% 0; }
  .menu--back {
    background: #579C87; }
  .menu--first {
    background: #FCDFDB; }
  .menu--second {
    background: #FFF5FE; }
  .menu--third {
    background: #F9F9F9; }
  .menu--fourth {
    background: #FDFFFD; }
  .menu--txt {
    color: #FCCA46; }
  .menu--first {
    color: #3C1218; }
  .menu--second_1 {
    color: #C67412; }
  .menu--second_2 {
    color: #A56799; }
  .menu--second_3 {
    color: #6E4CCC; }
  .menu--third_1 {
    color: #0228DD; }
  .menu--third_2 {
    color: #0670F3; }
  .menu--third_3 {
    color: #88C6F5; }
  .menu--fourth_1 {
    color: #3D923A; }
  .menu--fourth_2 {
    color: #0670F3; }

.img_menu {
  width: 12%;
  margin: 0 44%; }

.p_menu {
  margin: 24px 0 30px; }

.container {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  background-color: #579C87;
  color: #FCCA46;
  transform-origin: top;
  border-radius: 7px;
  text-align: center;
  width: max-content;
  margin: 0 auto 7rem;
  padding: 0 1.2rem; }

.container h3 {
  margin: 3% 2%; }

.one, .two, .three {
  width: 7px;
  height: 5px;
  border: #FCCA46 1px solid;
  border-radius: 100%;
  background-color: #FCCA46;
  margin: 2.5% .2rem;
  opacity: 0;
  animation: dot 1.5s infinite; }

.one {
  animation-delay: 0.0s; }

.two {
  animation-delay: 0.2s; }

.three {
  animation-delay: 0.3s; }

@media all and (min-width: 1920px) {
  html {
    font-size: 150%; }

  .container_menu {
    gap: 3rem;
    margin: 4% 21% 3%; }

  .menu {
    padding: 38% 0; }

  .one, .two, .three {
    width: 20px;
    height: 17px;
    margin: 1rem .4rem; } }
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .container_menu {
    gap: 3rem;
    margin: 4% 21% 3%; }

  .menu {
    padding: 38% 0; }

  .one, .two, .three {
    width: 10px;
    height: 7px;
    margin: 1rem .4rem; } }
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .container_menu {
    gap: 3.5rem;
    margin: 6% 9% 5%; }

  .menu {
    padding: 35% 0; }

  .one, .two, .three {
    width: 10px;
    height: 7px;
    margin: 1rem .4rem; } }
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container_menu {
    gap: 4rem;
    margin: 7% 10% 6%; }

  .menu {
    padding: 35% 0; }

  .one, .two, .three {
    width: 7px;
    height: 5px;
    margin: .3rem .4rem; } }
@media screen and (min-width: 600px) and (max-width: 767px) {
  .container_menu {
    gap: 4.5rem;
    margin: 7% 10% 6%; }

  .one, .two, .three {
    width: 6px;
    height: 4px;
    margin: .1rem .4rem; } }
@media screen and (max-width: 599px) {
  .container_menu {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2.5rem;
    margin: 10% 13%; }

  .container {
    margin: 10% auto 15rem; }

  .menu {
    padding: 32% 0; } }
.main_top-R {
  padding: 0 0 10%; }

.title_second--inside {
  text-align: center;
  padding: 14% 0 0;
  margin: 0 0 10%;
  background: linear-gradient(90deg, #C67412 35%, #A56799 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.title_second_M--top, .second_menu-top {
  color: #C67412; }

.title_second_M--middle, .second_menu-middle {
  color: #A56799; }

.title_second_M--bottom, .second_menu-bottom {
  color: #6E4CCC; }

.link_first {
  color: #3C1218; }

.img_note_musique_inside_menu {
  width: 7.5%;
  height: auto;
  margin: 6% 46.5% 0; }

.title_first_bottom {
  margin: 0; }

.container_bottom_first_menu {
  display: flex;
  justify-content: center; }

.img_note_musique_inside_menu_bottom {
  margin: .4rem 1rem 0 0;
  width: 3.5rem;
  height: 3.5rem; }

.first_M {
  margin: 0 5.5rem 4rem; }

.first_barre {
  margin: 0; }

.main_bottom-L {
  font-family: 'Dancing Script', sans-serif; }

.third_menu--top, .third_menu--middle, .third_menu--bottom {
  color: #272727; }

.title_third_inside {
  text-align: center;
  padding: 14% 0 5%;
  background: linear-gradient(0.25turn, #0228DD, #88C6F5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.main_bottom-R {
  padding: 0 0 10%;
  font-family: 'Kaushan Script', cursive; }

.fourth_menu--middle, .fourth_menu--top, .fourth_menu--bottom {
  color: black; }

.title_fourth_inside {
  text-align: center;
  padding: 9% 0 0;
  margin: 0 0 9%;
  font-style: italic;
  background: linear-gradient(0.25turn, #3D923A, #BEFF7F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.mentions {
  width: 80%;
  margin: 5% 10% 8%;
  font-size: 2rem; }
  .mentions__titles {
    font-size: 2.5rem;
    text-align: center; }
  .mentions__articles {
    display: block;
    margin: 0; }

/*# sourceMappingURL=style.css.map */
