
html,body {
    width: 100%;
    margin: 0;
    padding: 0;
}
@import "utils/variable";
@import "utils/maps";
@import "utils/mixins";
@import "utils/keyframes";
@import "utils/animations";

@import "base/typographies";

@import "layout/header_footer";
@import "layout/all";

@import "pages/home";
@import "pages/menu_top_right";
@import "pages/menu_top_left";
@import "pages/menu_bottom_left";
@import "pages/menu_bottom_right";
@import "pages/mentions";





