
html,body {
    width: 100%;
    margin: 0;
    padding: 0;
}
@import "utils/variable";
@import "utils/maps";
@import "utils/mixins";
@import "utils/keyframes";
@import "utils/animations";

@import "base/typographies";

@import "layout/header_footer";
@import "layout/all";

@import "pages/home";
@import "pages/la-note-enchantée";
@import "pages/le-chic-à-la-française";
@import "pages/le-délice-des-papilles";
@import "pages/la-palette-du-goût";
@import "pages/mentions-légales";





