
html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
@import "partials/utils/config";
@import "partials/utils/animations";
@import "partials/layout/header_footer";
@import "partials/layout/section";

@import "partials/layout/all";
@import "partials/layout/menu_top_left";
@import "partials/layout/menu_top_right";
@import "partials/layout/menu_bottom_left";
@import "partials/layout/menu_bottom_right";

