
//variables
$color_back :#579C87;
$color_text :#FCCA46;

$color_back_first: #FCDFDB;
$color_back_second: #FFF5FE;
$color_back_third: #F9F9F9;
$color_back_fourth: #FDFFFD;

$color_text_first_M : #3C1218;

$color_text_second_M--1 : #C67412;
$color_text_second_M--2 : #A56799;
$color_text_second_M--3 : #6E4CCC;

$color_text_third_M--1 : #0228DD;
$color_text_third_M--2 : #0670F3;
$color_text_third_M--3 : #88C6F5;

$color_text_fourth_M--1 : #3D923A;
$color_text_fourth_M--2 : #BEFF7F;

$b-shadow: 0 2px 8.5px 1px rgba(0,0,0,0.175);

//maps
$font-size: (xxl: 7em, xl: 6em, l:5em, lm:4em, m:3.5em, ms:3em, s:2.5em , xs:2em,xxs:1.5em);

$back-colors:(
    back: $color_back,
    
    first: $color_back_first,
    second: $color_back_second,
    third: $color_back_third,
    fourth: $color_back_fourth,
    
);
$txt-colors:(
    txt:  $color_text,
    first: $color_text_first_M,
    second_1: $color_text_second_M--1,
    second_2: $color_text_second_M--2,
    second_3: $color_text_second_M--3,
    third_1: $color_text_third_M--1,
    third_2: $color_text_third_M--2,
    third_3: $color_text_third_M--3,
    fourth_1: $color_text_fourth_M--1,
    fourth_2: $color_text_third_M--2,
);

//mixins avec boules
@mixin back_color($back_colors){
    @each $mod, $var in $back_colors { 
        &--#{$mod}{
            background: $var;
        }
    }
}
@mixin txt_color($txt_colors) {
    @each $mod, $var in $txt_colors {
        &--#{$mod}{
            color: $var;
        }
    }
}

//essayer de rendre c'est variable plus claire 

$margin_menu-XL : 0 8.75% 17%;
$width_menu-XL : 83%;
$margin_header: 0;


$margin--img_music : 0 .7% 2.5% 0;
$seize--img_music : 5%;


// breakpoints
$breakpoints:(
mobile: 600px,
tablette: 768px,
pc: 992px,
pc-max: 1200px,
);

@mixin gradient($rotate, $color--1, $color--2) {
    background: linear-gradient($rotate, $color--1, $color--2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
@keyframes zoom_opacity {
    from {
        transform: scale(1);
        opacity: 1;
    }
    
    to {
        transform: scale(1.5);
        opacity: 0.45;
    }
    
}
@keyframes wiggle {
    0% {transform: rotate(1deg);}
    10% {transform: rotate(0deg);}
    20% {transform: rotate(-1.5deg);}
    30% {transform: rotate(0deg);}
    40% {transform: rotate(0deg);}
    50% {transform: rotate(-0deg);}
    60% {transform: rotate(4deg);}
    70% {transform: rotate(0deg);}
    80% {transform: rotate(-6deg);}
    90% {transform: rotate(0deg);} 
    100% {transform: rotate(0deg);} 
}

@keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(20px);
        opacity: 1;
    }
}
@mixin underline($color) {
    opacity: 0;
    left: -5px;
    width: auto;
    height: 7px;
    margin: -1.5% -6% 0 ;
    
    border-radius: 10px 2px;
    background-color: $color;
    transform-origin: 0% 50%;
    transition: ease-in-out 2.3s;
    transform: scaleX(0);
}

@mixin mobile-only {
    @media all and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}
@mixin mobile-tablette {
    @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablette)) {
        @content;
    }
}
@mixin tablette-pc {
    @media screen and (min-width: map-get($breakpoints, tablette)) and (max-width: map-get($breakpoints, pc)) {
        @content;
    }
}
@mixin pc-pc_max {
    @media screen and (min-width: map-get($breakpoints, pc)) and (max-width: map-get($breakpoints, pc-max)) {
        @content;
    }
}
@mixin pc_max-only {
    @media all and (min-width: map-get($breakpoints, pc-max)){
        @content;
    }
}
@mixin mobile-pc {
    @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, pc)) {
        @content;
    }
}
@mixin tablette-pc_max {
    @media screen and (min-width: map-get($breakpoints, tablette)) and (max-width: map-get($breakpoints, pc-max)){
        @content;
    }

}