# -----------------------
# Config
# -----------------------

RedirectPermanent /https://y-parede-dev.github.io/OC-Projet-3/html/mentions-légales.html/ https://y-parede-dev.github.io/OC-Projet-3/html/mentions-legales.html/