.anim_menu_zoom {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height: 905px;
    &:hover {
        filter: blur(4px);
        animation-name: zoom_opacity;
        animation-duration: 2500ms;
        transform: scale(1.5);
        opacity: 0.6;
    }
}
.effect_wiggle {
    transform-origin: center;
    &:hover {
        animation-name: wiggle;
        animation-duration: 400ms;
        animation-iteration-count: infinite;
    }
}
.underline--1 {
    @include underline($color_text_first_M )
}
.underline--2_1 {
    @include underline($color_text_second_M--1)
}
.underline--2_2 {
    @include underline($color_text_second_M--2)
}
.underline--2_3 {
    @include underline($color_text_second_M--3)
}
.underline--3_1 {
    @include underline($color_text_third_M--1)
}
.underline--3_2 {
    @include underline($color_text_third_M--2)
}
.underline--3_3 {
    @include underline($color_text_third_M--3)
}
.underline--4 {
    @include underline($color_text_fourth_M--1)
}

.title_all {
    
    margin: 0;
    &:hover + .underline {
        opacity: 1;
        transition:ease-out 1.3s;
        transform: scaleX(1);
    }
}

