@mixin back_color($back_colors){
    @each $mod, $var in $back_colors { 
        &--#{$mod}{
            background: $var;
        }
    }
}
@mixin txt_color($txt_colors) {
    @each $mod, $var in $txt_colors {
        &--#{$mod}{
            color: $var;
        }
    }
}
@mixin gradient($rotate, $color--1, $color--2) {
    background: linear-gradient($rotate, $color--1, $color--2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin underline($color) {
    opacity: 0;
    left: -5px;
    width: auto;
    height: 7px;
    margin: -1.5% -6% 0 ;
    
    border-radius: 10px 2px;
    background-color: $color;
    transform-origin: 0% 50%;
    transition: ease-in-out 2.3s;
    transform: scaleX(0);
}
