$color_back: #579C87;
$color_text: #FCCA46;

$color_back_first: #FCDFDB;
$color_back_second: #FFF5FE;
$color_back_third: #F9F9F9;
$color_back_fourth: #FDFFFD;

$color_text_first_M: #3C1218;

$color_text_second_M--1: #C67412;
$color_text_second_M--2: #A56799;
$color_text_second_M--3: #6E4CCC;

$color_text_third_M--1: #0228DD;
$color_text_third_M--2: #0670F3;
$color_text_third_M--3: #88C6F5;

$color_text_fourth_M--1: #3D923A;
$color_text_fourth_M--2: #BEFF7F;

$b-shadow: 0 2px 8.5px 1px rgba(0,0,0,0.175);


$margin_header: 0;
