body {
    width: 100%;
}
main {
    margin: $margin_menu-XL;
    width: $width_menu-XL;
    box-shadow: $b-shadow;
    padding: 0 0 10%;
}
article {
    margin:1% 10% 7%;
}
.barre {
    width: 36%;
    height: .5%;
    margin: 0 -8%;
}