
$color_footer :#579C87;
$color_text_footer :#FCCA46;

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: $color_footer;
    
}
    footer > a {
        color: $color_text_footer;
        text-decoration: none;
        font-size: 1.75em;
        font-weight: bold;
        padding: 2.5% 2%;
        width: 30%;
    }
.contactez-nous {
    display: flex;
    justify-content: flex-end;
}