
$color_footer :#579C87;
$color_text_footer :#FCCA46;

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: $color_footer;
    
}
    footer > a {
        width: 30%;

        color: $color_text_footer;
        text-decoration: none;
        font-weight: bold;
    }
.contactez-nous {
    display: flex;
    justify-content: flex-end;
}
@media all and (min-width: 1400px) {
    footer > a {
        font-size: 1.8em;
        padding: .8% 2%;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1400px) {
    footer > a {
        font-size: 1.4em;
        padding: 1% 2%;
    }
}
@media all and (max-width: 1000px) {
    footer > a {
        font-size: 1.2em;
        padding: 1.2% 2%;
    }
}