$color_back :#579C87;
$color_text :#FCCA46;
$margin_header:0;

/*----header-----*/

header {
    width: 100%;
    margin: $margin_header;

    color: $color_text;
    background-color: $color_back;
   
    text-align: center;
}

h1 {
    margin: $margin_header;
}

/*---- footer ----*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: $color_footer;
    
}
    footer > a {
        width: 30%;

        color: $color_text_footer;
        text-decoration: none;
        font-weight: bold;
    }
.contactez-nous {
    display: flex;
    justify-content: flex-end;
}

@media all and (min-width: 1400px) {
    header {
        padding: 1.5% 0;
        font-size: 2em;
    }
    footer > a {
        font-size: 1.8em;
        padding: .8% 2%;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1400px) {
    header {
        padding: 2.1% 0;
        font-size: 1.5em;
    }
    footer > a {
        font-size: 1.4em;
        padding: 1% 2%;
    }
}
@media all and (max-width: 1000px) {
    header {
        padding: 2.8% 0;
        font-size: 1.3em;
    }
    footer > a {
        font-size: 1.2em;
        padding: 1.2% 2%;
    }
} 
