$color_header :#579C87;
$color_text_header :#FCCA46;
$margin_header:0;

header {
    width: 100%;
    margin: $margin_header;

    color: $color_text_header;
    background-color: $color_header;
   
    text-align: center;
}

h1 {
    margin: $margin_header;
}
@media all and (min-width: 1400px) {
    header {
        padding: 1.5% 0;
        font-size: 2em;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1400px) {
    header {
        padding: 2.1% 0;
        font-size: 1.5em;
    }
}
@media all and (max-width: 1000px) {
    header {
        padding: 2.8% 0;
        font-size: 1.3em;
    }
} 
