$color_header :#579C87;
$color_text_header :#FCCA46;
$margin_header:0;

header {
    width: 100%;
    padding: 4% 0;
    text-align: center;
    color: $color_text_header;

    background-color: $color_header;
    
    margin: $margin_header;

    font-size: 1.8em;
}
h1 {
    margin: $margin_header;
}

