
/*----header-----*/

header {
    width: 100%;
    margin: $margin_header;

    color: $color_text;
    background-color: $color_back;
    
    font-weight: bold;
    text-align: center;
}
.hidden {
    text-decoration: none;
}

h1 {
    margin: $margin_header;
}

/*---- footer ----*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: $color_back;
    
}
    footer a {
        color: $color_text;
        text-decoration: none;
        font-weight: bold;
    }

.contactez-nous {
    display: flex;
    justify-content: flex-end;
}


@media all and (min-width: 1400px) {
    header {
        padding: 1.3% 0;
        font-size: 1.8em;
    }
    footer > a {
        font-size: 1.8em;
        padding: .7% 2%;
    }
   
}
@media screen and (min-width: 1000px) and (max-width: 1400px) {
    header {
        padding: 2.1% 0;
        font-size: 1.5em;
    }
    footer > a {
        
        font-size: 1.4em;
        padding: 1% 2%;
    }
}
@media all and (max-width: 1000px) {
    header {
        padding: 2.8% 0;
        font-size: 1.3em;
    }
    footer > a {
       
        font-size: 1.2em;
        padding: 1.2% 2%;
    }
} 

