.main_bottom-R {
    padding: 0 0 10%;
    color: black;
}
.title_fourth_inside {
    font-size: 6em;
    text-align: center;
    padding: 9% 0 0;
    margin: 0 0 9%;
    font-style: italic;
    background: -webkit-gradient(linear, left top, right bottom, from(#3D923A), to(#BEFF7F));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.title_fourth_M {
    font-size: 1.3em;
}
.fourth_M {
    font-size: 1.5em;
}
