
.main_top-R {
    
    background-color: $color_back_second_M;
    
    padding: 0 0 10%;

}
main .title_second--inside {
    font-size: 3em;
    text-align: center;
    padding: 14% 0 0;
    margin: 0 0 10%;

    background: -webkit-gradient(linear, left top, right bottom, from(#C67412), to(#6E4CCC));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.second_M {
    
    font-size: 1.5em;
}
article .title_second_M {
    text-align: center;
    font-size: 1.6em;
}
.header--top, .header--middle, .header--bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 4%;
}

.title_second_M--top, .second_menu-top {
    color: #C67412;

}
.title_second_M--middle, .second_menu-middle {
    color: #A56799;
}
.title_second_M--bottom, .second_menu--bottom {
    color: #6E4CCC;
}



