.title_menu {
    text-transform: capitalize;
    margin: 0;
    font-family: sans-serif;
}
.title_menu_all_capitalize {
    text-transform: uppercase;
}
.p_menu {
    margin: 24px 0 30px;
}

.menu_top_left {
    font-family: 'Devonshire', cursive;
}
@media all and (min-width: 1400px) {
    .container_menu {
        display: flex;
        margin: 6% 0;
        
    }
    .menu {
        display: flex;
        flex-direction: column-reverse;
        width: 25%;
        cursor: pointer;

        padding: 11% 0;
        background-color: $color_back_first_M;
        box-shadow: $b-shadow;
        color: #3C1218;

        font-size: 150%;
        text-decoration: none;
        text-align: center;
    }
    .img_menu {
        width: 12%;
        margin: 0 44%;
    }
    
    .menu_top_right {
        background-color: $color_back_second_M;
        
    }
    .menu_bottom_left {
        background-color: $color_back_third_M;
    }
    .menu_bottom_right {
        background-color: $color_back_fourth_M;
    }
    .menu_top_left, .menu_bottom_left {

        margin: 0 6% 0 22%; 
    }
    .menu_top_right, .menu_bottom_right {

        margin: 0 22% 0 0; 

    }
    .container {
        display: flex;
        justify-content: center;
        width: 18%;


        text-transform: capitalize;

        margin: 0 41% 10%;
        background-color: $color_back;
        color: $color_text;
        transform-origin: top;

        border-radius: 15px;

        text-align: center;
        font-size: 1.8em;
    }
    .container>p {
        margin: 3% 0;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1400px) {
    .container_menu {
        display: flex;
        margin: 6% 0;
        width: 100%;
        
    }
    .menu {
        display: flex;
        flex-direction: column-reverse;
        width: 45%;
        cursor: pointer;

        padding: 14% 0;
        background-color: #FCDFDB;
        box-shadow: $b-shadow;
        color: #3C1218;

        font-size: 150%;
        text-decoration: none;
        text-align: center;
    }
    .img_menu {
        width: 12%;
        margin: 0 44%;
    
    }
    .menu_top_right {
        background-color: #FFF5FE;
        
    }
    .menu_bottom_left {
        background-color: #F9F9F9;
    }
    .menu_bottom_right {
        background-color: #FDFFFD;
    }
    .menu_top_left, .menu_bottom_left {

        margin: 0 6% 0 11.25%; 
    }
    .menu_top_right, .menu_bottom_right {

        margin: 0 11.25% 0 0; 

    }
    .container {
        display: flex;
        justify-content: center;;
        width: 25%;


        text-transform: capitalize;

        margin: 0 37.5% 10%;
        background-color: $color_back;
        color: $color_text;
        transform-origin: top;

        border-radius: 15px;

        text-align: center;
        font-size: 1.8em;
    }
    .container>p {
        margin: 3% 0;
    }
}
@media all and (max-width: 1000px) {
    .container_menu {
        display: flex;
        margin: 8% 0;
        
    }
    .menu {
        display: flex;
        flex-direction: column-reverse;
        width: 50%;
        cursor: pointer;

        padding: 17% 0;
        background-color: #FCDFDB;
        box-shadow: $b-shadow;
        color: #3C1218;

        font-size: 100%;
        text-decoration: none;
        text-align: center;
    }
    .img_menu {
        width: 12%;
        margin: 0 44%;
    
    }
    .menu_top_right {
        background-color: #FFF5FE;
        
    }
    .menu_bottom_left {
        background-color: #F9F9F9;
    }
    .menu_bottom_right {
        background-color: #FDFFFD;
    }
    .menu_top_left, .menu_bottom_left {

        margin: 0 8% 0 6%; 
    }
    .menu_top_right, .menu_bottom_right {

        margin: 0 6% 0 0; 

    }
    .container {
        display: flex;
        justify-content: center;;
        width: 40%;


        text-transform: capitalize;

        margin: 0 30% 18%;
        background-color: $color_back;
        color: $color_text;
        transform-origin: top;

        border-radius: 15px;

        text-align: center;
        font-size: 1.8em;
    }
    .container>p {
        margin: 3% 0;
    } 
}