.title_menu {
    text-transform: capitalize;
    margin: 0;
    font-family: sans-serif;
}
.title_menu_all_capitalize {
    text-transform: uppercase;
}
.container_menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: space-between;
    margin: 4rem 2rem;
} 
.menu {
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: $b-shadow;
    text-decoration: none;
    text-align: center;
    padding: 13rem 0;

    @include back_color($back_colors);
    @include txt_color($txt_colors);
}
.img_menu {
    width: 12%;
    margin: 0 44%;
}  
.p_menu {
    margin: 24px 0 30px;
}
.container {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    background-color: $color_back;
    color: $color_text;
    transform-origin: top;
    border-radius: 15px;
    text-align: center;
    width: auto;
    margin: 0 27% 14rem;

}
.container h3 {
    margin: 3% 2%;
}
.one, .two, .three {
    width: 10px;
    height: 10px;
    border: $color_text 1px solid;
    border-radius: 50%;
    background-color: $color_text;
    margin: 1.5rem .8rem;
    opacity: 0;
    animation: dot 1.5s infinite;

}
.one {
    animation-delay: 0.0s;
}
.two {
    animation-delay: 0.2s;
}
.three {
    animation-delay: 0.3s;
}
@media all and (min-width:map-get($breakpoints, pc-max)) {

    .container_menu {
        gap: 9rem;
        margin: 9rem 21rem;
    }
    .menu {
        padding: 21rem 0 24rem;
    }
    .container {
        margin: 0 35% 10rem;
    }
}

@media screen and (min-width:map-get($breakpoints, pc)) and (max-width:map-get($breakpoints, pc-max)) {
    .container_menu {
        gap: 6rem;
        margin: 6rem 16rem;
    }
    .menu {
        padding: 14rem 0 17rem;
    }
}
@media screen and (min-width:map-get($breakpoints, laytop)) and (max-width:map-get($breakpoints, pc)) {

    .container_menu {
        gap: 5rem;
        margin: 5rem 9rem;
    }
    .menu {
        padding: 14rem 0 18rem;
    }
}
@media all and (max-width:map-get($breakpoints, mobile)) {
    .container_menu {
        gap: 2.5rem;
        margin: 5rem 8rem;
    }
}