
.main_bottom-L { 
    font-family: 'Dancing Script', sans-serif;
}
.third_menu--top, .third_menu--middle, .third_menu--bottom {
    color: #272727;
}
.title_third_inside {
    text-align: center;
    font-size: 5em;
    padding: 14% 0 5%;
    
    @include gradient(.25turn, #0228DD, #88C6F5);
}

