.main_top-L {
    box-shadow: $b-shadow;
    font-family: 'Devonshire', cursive;
}
.link_first {
    color: $color_text_first-M;
}
.img_note_musique_inside_menu {
    width: 7.5%;
    height: auto;
    margin: 6% 46.5% 0;
}
.title_first_bottom {
    font-size: map-get($font-size, m);
    margin: 0;
}
.container_bottom_first_menu {
    display: flex;
    justify-content: center;
}
.img_note_musique_inside_menu_bottom {
    margin: $margin--img_music;
    width: $seize--img_music;
    height: $seize--img_music;
}

