
.link_first {
    color: $color_text_first-M;
}
.img_note_musique_inside_menu {
    width: 7.5%;
    height: auto;
    margin: 6% 46.5% 0;
}
.title_first_bottom {
    margin: 0;
}
.container_bottom_first_menu {
    display: flex;
    justify-content: center;
}
.img_note_musique_inside_menu_bottom {
    margin: .4rem 1rem 0 0;
    width: 3.5rem;
    height: 3.5rem;
}
.first_M {
    margin: 0 5.5rem 4rem;
}

.first_barre {
    margin: 0;
}