.main_top-R {
    padding: 0 0 10%;
}
.title_second--inside {
    
    text-align: center;
    padding: 14% 0 0;
    margin: 0 0 10%;
    
    @include gradient(90deg, $color_text_second_M--1 35%, $color_text_second_M--2 60%); 
}

.title_second_M--top, .second_menu-top {
    color: $color_text_second_M--1;
    
}
.title_second_M--middle, .second_menu-middle {
    color: $color_text_second_M--2;
}
.title_second_M--bottom, .second_menu-bottom {
    color: $color_text_second_M--3;
}



