main {
    margin: $margin_menu-XL;
    width: $width_menu-XL;
    box-shadow: $b-shadow;
    padding: 0 0 10%;
    @include back-color($back-colors);
}
article {
    margin:1% 10% 7%;
}
.header--top, .header--middle, .header--bottom, .menu_choice {
    display: flex;
    justify-content: space-between;
}
.header--top, .header--middle, .header--bottom{
    align-items: center;
    margin: 0 0 4%;
}
.title_first {
    margin: 5.35% 0 2.2%;
    font-size: map-get($font-size, xl)
}
.barre {
    width: 36%;
    height: .5%;
    margin: 0 -8%;
}
.menu_choice {
    margin: 0;   
}
.menu_price {
    font-weight: bold;
}
.menu_choice_plate, .menu_price {
    margin: 15px 0;
}
.menu_choice_plate,.menu_price{
    font-size: map-get($font-size, s);
}

@media screen and (min-width: 1150px) and (max-width: 1520px) {
    .title_all {
        font-size: 2em;
    }
    .barre {
        width: 30%;
    }
}
@media screen and (min-width: 800px) and (max-width: 1150px) {
    
    .title_all {
        font-size: 1.5em;
    }
    .barre {
        width: 25%;
    }
}
