
.main_top-L {
    
    box-shadow: $b-shadow;
    font-family: 'Devonshire', cursive;
}
.link_first {
    color: $color_text_first-M;
}

.title_first {
    text-align: center;
}
.title_first_bottom {
    margin: 0;
}
.aside_menu_top_left {
    display: flex;
    flex-direction: column;   
}
.container_bottom_first_menu {
    display: flex;
    justify-content: center;
}


@media all and (min-width: map-get($breakpoints, pc-max)) {
    
    .img_barre_menu_top_left { 
        width:35%; height: 10%;
        margin: 2% 0 ;
    }
    
    .title_first_inside {
        margin: .9% 0 6%;
        font-size: map-get($font-size, xl);
    }
    .title_first_bottom {
        margin: 0% 1% 8.2% ;
        font-size: map-get($font-size, l);
    }
    .img_note_musique_inside_menu {
        width: 7.5%; height: auto;
        
        margin: 6% 46.5% 0;
    }
    .title_menu_choice {
        margin: 0;
        font-size: 1.5em;
    }
    .container_menu_choice {
        margin: 4% 0 9.5%;
    }
    
    .img_note_musique_inside_menu_bottom {
        margin: $margin--img_music;
        width: $seize--img_music;
        height: $seize--img_music;
    }
}
@media screen and (min-width: map-get($breakpoints, pc )) and (max-width: map-get($breakpoints, pc-max)) {
    
    .img_barre_menu_top_left { 
        width:30%; height: 10%;
        margin: 2% 0 ;
    }
    .title_first_inside {
        margin: .9% 0 6%;
        font-size: 1.99em;
    }
    .title_first_bottom {
        margin: -1.2% 0 8.2% ;
        font-size: 3em;
    }
    .img_note_musique_inside_menu {
        width: 7.5%; height: auto;
        
        margin: 6% 46.5% 0;
    }
    .title_menu_choice {
        margin: 0;
        font-size: 1.5em;
    }
    .container_menu_choice {
        margin: 4% 0 9.5%;
    }
    .img_note_musique_inside_menu_bottom {
        margin: $margin--img_music;
        width: $seize--img_music;
        height: $seize--img_music;
    }
}
@media screen and (min-width: map-get($breakpoints, tablette )) and (max-width: map-get($breakpoints, pc )) {
    
    .img_barre_menu_top_left { 
        width:30%; height: 10%;
        margin: 2% 0 ;
    }
    .title_first_inside {
        margin: .9% 0 6%;
        font-size: 1.99em;
    }
    .title_first_bottom {
        margin: -1% 0 8.2% ;
        font-size: 2.5em;
    }
    .img_note_musique_inside_menu {
        width: 7.5%; height: auto;
        margin: 6% 46.5% 0;
    }
    .title_menu_choice {
        margin: 0;
        font-size: 1.5em;
    }
    .container_menu_choice {
        margin: 4% 0 9.5%;
    }
    .img_note_musique_inside_menu_bottom {
        margin: $margin--img_music;
        width: $seize--img_music;
        height: $seize--img_music;
    }
}
@media all and (max-width: map-get($breakpoints, mobile )) {
    
    .img_barre_menu_top_left { 
        width:30%; height: 10%;
        margin: 2% 0 ;
    }
    .title_first {
        margin: 5.35% 0 2.2%;
        font-size: 2.15em;
    }
    .title_first_inside {
        margin: .9% 0 6%;
        font-size: 1.99em;
    }
    .title_first_bottom {
        margin: .38% 0 8.2% ;
        font-size: 2em;
    }
    .img_note_musique_inside_menu {
        width: 7.5%; height: auto;
        
        margin: 6% 46.5% 0;
    }
    .title_menu_choice {
        margin: 0;
        font-size: 1.5em;
    }
    .container_menu_choice {
        margin: 4% 0 9.5%;
    }
    .menu_choice_plate {
        width: 70%;
    }
    .img_note_musique_inside_menu_bottom {
        margin: $margin--img_music;
        width: $seize--img_music;
        height: $seize--img_music;
    }
}