
.main_top-R {
    
    background-color: $color_back_second_M;
    
    padding: 0 0 10%;
    
}
main .title_second--inside {
    font-size: 3.5em;
    text-align: center;
    padding: 14% 0 0;
    margin: 0 0 10%;
    font-family: 'Croissant One', sans-serif;
    @include gradient(.25turn, $color_text_second_M--1, $color_text_second_M--2); 
}

.header--top, .header--middle, .header--bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 4%;
}

.title_second_M--top, .second_menu-top {
    color: $color_text_second_M--1;
    
}
.title_second_M--middle, .second_menu-middle {
    color: $color_text_second_M--2;
}
.title_second_M--bottom, .c_m_c_second_menu {
    color: $color_text_second_M--3;
}



