.mentions {
    width: 80%;
    margin: 5% 10% 20%;
    font-size: map-get($font-size, xs);
    &__titles {
        font-size: map-get($font_size, xxs);
        text-align: center;
    }
    &__articles {
        display: block;
        margin: 0;
    }
}