.title_menu {
    text-transform: capitalize;
    margin: 0;
    font-family: sans-serif;
}
.title_menu_all_capitalize {
    text-transform: uppercase;
}
.container_menu {
    display: flex;
    margin: 6% 0;
    width: 100%;  
}
.menu {
    font-family: 'Devonshire', cursive;
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: $b-shadow;
    text-decoration: none;
    text-align: center;
    @include back_color($back_colors);
    @include txt_color($txt_colors);
}
.p_menu {
    margin: 24px 0 30px;
}
.title_menu_top_left, .title_menu_bottom_left {
    font-family: 'Ubuntu', sans-serif;
}
.menu--first {
    font-family: 'Devonshire', cursive;
}
.menu--second {
    font-family: 'Croissant One', cursive;
}
.title_menu_top_right {
    font-family: 'Croissant One', cursive;  
    color: #C67412;  
}
.p_top_right {
    @include gradient(.25turn, $color_text_second_M--1, $color_text_second_M--2);  
}
.menu--third {
    font-family: Arial, Helvetica, sans-serif;
}
.title_menu_bottom_left, .p_bottom_left {
    @include gradient(.25turn, $color_text_third_M--1, $color_text_third_M--2 )
}
.p_bottom_left {
    font-family: 'Dancing Script', cursive;
}
.menu--fourth {
    font-family: Arial, Helvetica, sans-serif;
}
.title_menu_bottom_right, .p_bottom_right {
    font-family: 'Kaushan Script', cursive;
    @include gradient(.25turn, $color_text_fourth_M--1, $color_text_fourth_M--2)
}
.container {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    background-color: $color_back;
    color: $color_text;
    transform-origin: top;
    border-radius: 15px;
    text-align: center; 
}
.one, .two, .three {
    width: 10px;
    height: 10px;
    border: $color_text 1px solid;
    border-radius: 50%;
    background-color: $color_text;
    margin: 6% 0 0 3%;
    opacity: 0;
    animation: dot 1.5s infinite;
}
.one {
    animation-delay: 0.0s;
}
.two {
    animation-delay: 0.2s;
}
.three {
    animation-delay: 0.3s;
}
@media all and (min-width: map-get($breakpoints, pc-max)) {
    .menu {
        width: 39%;
        padding: 17% 0;
        font-size: map-get($font-size, m);
    }
    .menu--third, .menu--fourth {
        padding: 17.75% 0;
    }
    .img_menu {
        width: 12%;
        margin: 0 44%;
    }
    .menu--first, .menu--third {
        margin: 0 6% 0 8%; 
    }
    .menu--second, .menu--fourth {
        margin: 0 8% 0 0; 
    }
    .container {
        width: 45%;
        margin: 0 28% 10%;
        font-size: map-get($font-size, lm);
    }
    .container h3 {
        margin: 3% 2%;
    }
    .container p {
        margin: 3% 0;
    }
}
@media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, pc-max)) {
    .menu {  
        width: 45%;
        padding: 14% 0;
        font-size: 150%;
    }
    .menu--third, .menu--fourth {
        padding: 16.492% 0;
    }
    .img_menu {
        width: 12%;
        margin: 0 44%;
    }
    .menu--first, .menu--third {  
        margin: 0 6% 0 11.25%; 
    }
    .menu--second, .menu--fourth {
        margin: 0 11.25% 0 0; 
    }
    .container {
        width: 25%;
        margin: 0 37.5% 10%; 
        font-size: 1.8em;
    }
    .container>p {
        margin: 3% 0;
    }
}
@media all and (max-width: map-get($breakpoints, mobile)) {
    .container_menu {
        display: flex;
        margin: 8% 0; 
    }
    .menu {
        width: 50%;
        padding: 17% 0;
        font-size: 100%;
    }
    .menu--third, .menu--fourth {
        padding: 19.785% 0;
    }
    .img_menu {
        width: 12%;
        margin: 0 44%;
    }  
    .menu--first, .menu--third {    
        margin: 0 8% 0 6%; 
    }
    .menu--second, .menu--fourth {   
        margin: 0 6% 0 0;    
    }
    .container {
        width: 40%;
        margin: 0 30% 18%;
        border-radius: 15px;   
        font-size: 1.8em;
    }
    .container p {
        margin: 3% 0;
    } 
}