.title_menu {
    text-transform: capitalize;
    margin: 0;
    font-family: sans-serif;
}
.title_menu_all_capitalize {
    text-transform: uppercase;
}
.container_menu {
    display: flex;
    margin: 6% 0;
    width: 100%;
    @include mobile-only(){
        margin: 8% 0;  
    }
}
.menu {
    font-family: 'Devonshire', cursive;
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: $b-shadow;
    text-decoration: none;
    text-align: center;
    padding: 17% 0;
    width: 50%;

    @include back_color($back_colors);
    @include txt_color($txt_colors);

    @include mobile-only(){
        font-size: map-get($font_size , ms); 
    }
    @include mobile-tablette(){
        font-size: map-get($font-size, xxs) +0.3em;
    }
    @include tablette-pc(){
        width: 45%;
        padding: 14% 0;
        font-size: map-get($font-size, xxs) +0.3em;
    }
    @include pc-pc_max(){
        width: 45%;
        padding: 14% 0;
        font-size: map-get($font-size, xs);
    }
    @include pc_max-only(){
        width: 39%;
        font-size: map-get($font-size, s);
    }
}
.img_menu {
    width: 12%;
    margin: 0 44%;
}  
.p_menu {
    margin: 24px 0 30px;
}
.title_menu_top_left, .title_menu_bottom_left {
    font-family: 'Ubuntu', sans-serif;
}
.menu--first {
    font-family: 'Devonshire', cursive;
}
.menu--second {
    font-family: 'Croissant One', cursive;
}
.menu--first, .menu--third {
    margin: 0 6% 0 8%;

}
.menu--second, .menu--fourth {
    margin: 0 8% 0 0;
    
}
.menu--third, .menu--fourth {
    padding: 17.75% 0;
}
.title_menu_top_right {
    font-family: 'Croissant One', cursive;  
    color: #C67412;  
}
.p_top_right {
    @include gradient(.25turn, $color_text_second_M--1, $color_text_second_M--2);  
}
.menu--third {
    font-family: Arial, Helvetica, sans-serif;
    @include tablette-pc() {
        padding: 16.492% 0;
    }
}
.title_menu_bottom_left, .p_bottom_left {
    @include gradient(.25turn, $color_text_third_M--1, $color_text_third_M--2 )
}
.p_bottom_left {
    font-family: 'Dancing Script', cursive;
}
.menu--fourth {
    font-family: Arial, Helvetica, sans-serif;
}
.title_menu_bottom_right, .p_bottom_right {
    font-family: 'Kaushan Script', cursive;
    @include gradient(.25turn, $color_text_fourth_M--1, $color_text_fourth_M--2)
}
.container {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    background-color: $color_back;
    color: $color_text;
    transform-origin: top;
    border-radius: 15px;
    text-align: center;
    font-size: map-get($font-size, xxs) +0.3em;
    width: auto;
    @include mobile-pc() {
        margin: 13% 24.5% 21%;
        font-size: map-get($font-size, xs);
    }
    @include pc-pc_max(){
        margin: 11% 30.5% 21%;
    } 
    @include pc_max-only() {
        font-size: map-get($font-size, m);
        margin: 11% 28.5% 21%;
    }
}
.container h3 {
    margin: 3% 2%;
}
.one, .two, .three {
    width: 10px;
    height: 10px;
    border: $color_text 1px solid;
    border-radius: 50%;
    background-color: $color_text;
    margin: 6% 0 0 3%;
    opacity: 0;
    animation: dot 1.5s infinite;
    @include mobile-pc {
        margin: 3% 0 0 3%;
    }
    @include pc-pc_max {
        width: 8px;
        height: 8px;
        margin: 2.5% 0 0 3%;
    }
    @include pc_max-only {
        margin-top: 5%;
        width: 15px;
        height: 15px;
    }
}
.one {
    animation-delay: 0.0s;
}
.two {
    animation-delay: 0.2s;
}
.three {
    animation-delay: 0.3s;
}
