main {
    margin: 0 4.75% 17%;
    box-shadow: $b-shadow;
    padding: 0 0 10%;
}
.main {
    @include back-color($back-colors);
}
section {
    margin:0 3.8rem 4rem;
}
li {
    list-style-type: none;
}
.header--top, .header--middle, .header--bottom{
    display: flex;
    justify-content: space-between;
}
.header--top, .header--middle, .header--bottom{
    align-items: center;
    margin: 0 0 4%;
}
.title_first {
    margin: 5.35% 0 2.2%;

}
.barre {
    max-width: 1685px;
    max-height: 27px;
    width: 34%;
    height: .5%;
    margin: -2%;
}
.menu_section {
    margin: 0;
    padding: 0;
}
.menu__item {
    display: grid;
    grid-template-columns: 12fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    margin: 1rem;
    
}
.first__item_menu {
    margin: 1rem 0;
}
.item {
    &__price {
        
        font-weight: bold;
        text-align: center;
        align-items: center;
        margin: 5px 0 0;
    }
}
@media screen and (min-width: map-get($breakpoints, tablette)) and (max-width: map-get($breakpoints, pc-max)) {

    .barre {
        width: 30%;
    }
}
@media screen and (min-width: map-get($breakpoints, mobile)-300px) and (max-width: map-get($breakpoints, mobile)) {
    section {
        margin:2%;
    }
    .barre {
        width: 22%;
        margin: 0;
    }
    .second_barre {
        margin: -5px;
    }
    .menu__item {
        grid-template-columns: 1fr;
        gap: $gap-mobile;
        margin-bottom: $gap-mobile;
    }
    .item__price {
        margin: 0;
    }
}
