
/*----header-----*/

header {
    margin: $margin_header;
    width: 100%;
    background-color: $color_back;
    
    font-weight: bold;
    text-align: center;
}
.logo {
    width: 30%;
    align-items: center;
}
.hidden {
    text-decoration: none;
}

h1 {
    margin: $margin_header;
}

/*---- footer ----*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: $color_back;
    
}
footer a {
    color: $color_text;
    text-decoration: none;
    font-weight: bold;
}

.contactez-nous {
    display: flex;
    justify-content: flex-end;
}


@media all and (min-width: map-get($breakpoints, pc-max )) {
    header {
        padding: 1.5% 0 1%;
        font-size: map-get($font-size , lm);
    }
    footer a {
        width: fit-content;
        font-size: map-get($font-size, m);
        padding: 1.7% 2.5%;
    }
    
}
@media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, pc-max)) {
    header {
        padding: 2.1% 0 .5%;
        font-size: map-get($font-size, m);
    }
    footer a {
        
        font-size: map-get($font-size, ms);
        padding: 1% 2%;
    }
}
@media all and (max-width: map-get($breakpoints, mobile)) {
    header {
        padding: 2.8% 0 .5%;
        font-size: map-get($font-size, ms);
    }
    footer a {
        
        font-size: map-get($font-size, s);
        padding: 1.2% 2%;
    }
} 


