
/*----header-----*/

header {
    margin: $margin_header;
    width: 100%;
    max-height: fit-content;
    background-color: $color_back;
    padding: .5rem 0;
    font-weight: bold;
    text-align: center;
}
.logo {
    width: 45%;
    align-items: center;
}
.hidden {
    text-decoration: none;
}

h1 {
    margin: $margin_header;
}

/*---- footer ----*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: fit-content;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: $color_back;
    
}
footer a {
    color: $color_text;
    text-decoration: none;
    font-weight: bold;
    width: fit-content;
    

    padding: .8rem;
}

.contactez-nous {
    display: flex;
    justify-content: flex-end;
}


@media all and (min-width: map-get($breakpoints, pc-max)+1px) {
   
    .logo {
        width: 30%;
    }
}

@media screen and (min-width: map-get($breakpoints, mobile)+1px) and (max-width: map-get($breakpoints, pc-max)) {
  
    .logo {
        width: 40%;
    }
}
@media all and (max-width: map-get($breakpoints, mobile)) {
    header {
        padding: .8rem 0;
    } 
    .logo {
        width: 76%;
    }
} 


