html {
    font-size: 100%;
}
// home //
.container_menu {
    font-size: map-get($font-size, ms);
}
.container {
    font-size: map-get($font-size, s);
}
// menu top left //
.title_first_bottom {
    font-size: map-get($font-size, m);
}
@media screen and (min-width:map-get($breakpoints, laytop)) and (max-width:map-get($breakpoints, pc)) {
    // home //
    .container_menu {
       font-size: map-get($font-size, s);
    }
}
// menu top left //
@media screen and (min-width:map-get($breakpoints, tablette)) and (max-width:map-get($breakpoints, laytop)) {
    // home //
    .container_menu {
        font-size: map-get($font-size, xs);
    }
}
// menu top left //
@media all and (max-width:map-get($breakpoints, mobile)) {
    // home //
    .container_menu {
        font-size: map-get($font-size, xxs);
    }
}
// menu top left //