html {
    font-size: 100%;
}
.main_top-L, .menu--first {
    font-family: 'Devonshire', cursive;
}
.title_all, .title_second--inside {
    font-size: map-get($font-size, ms);
}
.title_first {
    text-align: center;
    font-size: map-get($font-size, m);
}
.title_all {
    font-weight: normal;
}
.container_menu, .container_underline > .title_all {
    font-size: map-get($font-size, s);
}
.container {
    font-size: map-get($font-size, xxs);
}
.title_menu_top_left, .title_menu_bottom_left {
    font-family: 'Ubuntu', sans-serif;
}
.menu--second, .title_second--inside, .title_menu_top_right {
    font-family: 'Croissant One', cursive;
}
.title_menu_top_right {
    color: #C67412;  
}
.p_top_right {
    @include gradient(90deg, $color_text_second_M--1 20%, $color_text_second_M--2 47%);  
}
.title_third_inside {
    font-size: map-get($font-size, lm);
}
.menu--third {
    font-family: Arial, Helvetica, sans-serif;
}
.title_menu_bottom_left, .p_bottom_left {
    @include gradient(90deg, $color_text_third_M--1 10%, $color_text_third_M--2 50%)
}
.p_bottom_left {
    font-family: 'Dancing Script', cursive;
}
.title_fourth_inside {
    font-size: map-get($font-size, xl);
}
.footer a {
    font-size: map-get($font-size, xs);
}
.menu--fourth {
    font-family: Arial, Helvetica, sans-serif;
}
.title_menu_bottom_right, .p_bottom_right {
    font-family: 'Kaushan Script', cursive;
    @include gradient(.25turn, $color_text_fourth_M--1, $color_text_fourth_M--2)
}
.title_first_bottom {
    font-size: map-get($font-size, ms);
}
.item {
    &__title, &__price {
        font-size: map-get($font-size, xs);
    }
}
.first {
    &__item_title, &__item_price {
        font-size: map-get($font-size, txt_mobile);
    }
}
@media screen and (min-width:map-get($breakpoints, pc-max)+1px){
    html {
        font-size: 150%;
    }
}
@media screen and (min-width:map-get($breakpoints, laytop)) and (max-width:map-get($breakpoints, pc-max)){
    html {
        font-size: 100%;
    }
}
@media screen and (min-width:map-get($breakpoints, tablette)) and (max-width:map-get($breakpoints, laytop)-1px) {
    html {
        font-size: 67.5%;
    }
}
@media screen and (min-width:map-get($breakpoints, mobile)) and (max-width:map-get($breakpoints, tablette)-1px){
    html {
        font-size: 62.5%;
    }
}
@media all and (max-width: 599px) {
    html {
        font-size: 52%;
    }
    .first {
        &__item_title, &__item_price {
            text-align: center;
        }
    }
}